footer
    div.container
        div.footer-block
            div.footer-item.footer-copy
                p &copy; 2018 <a href="#">«LoremIpsum.net»</a> Все права защищены.
            div.footer-item.footer-info
                ul.footer-list.footer-info-list
                    li
                        a.footer-link(href="#" target="_blank" data-name="qiwi") Qiwi wallet
                    li
                        a.footer-link(href="#" target="_blank" data-name="yandex") Yandex Money
                    li
                        a.footer-link(href="#" target="_blank" data-name="webMoney") Web Money
            div.footer-item.footer-contact
                ul.footer-list.footer-contact-list
                    li
                        a.footer-link(href="mailto:info@ipsum228.com" data-name="mail") info@ipsum228.com
                    li
                        a.footer-link(href="#" target="_blank" data-name="vk") Мы вконтакте
