header
    div.header-section
        div.container
            div.header-block
                div.header-logo
                    a(href="#")
                        img(src="img/logo.png" alt="")
                nav.header-nav
                    ul.nav-menu
                        +menu('Бизнес')(class="active")
                        +menu('О нас')
                        +menu('Цены')
                        +menu('Оформить заказ')
                div.burger
                    button.burger-btn

